* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,
html {
    height: 100%;
    font-family: sans-serif;
}
a {
    margin: 0;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}
a:focus {
    outline: none !important;
}
a:hover {
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
p {
    margin: 0;
}
ul,
li {
    margin: 0;
    list-style-type: none;
}
input {
    display: block;
    outline: none;
    border: none !important;
}
textarea {
    display: block;
    outline: none;
}
textarea:focus,
input:focus {
    border-color: transparent !important;
}
button {
    outline: none !important;
    border: none;
    background: 0 0;
}
button:hover {
    cursor: pointer;
}
iframe {
    border: none !important;
}
.js-pscroll {
    position: relative;
    overflow: hidden;
}
.table100 .ps__rail-x {
    z-index: 1010;
    height: 6px;
    background-color: transparent;
    opacity: 1 !important;
    bottom: 10px;
}
.table100 .ps__rail-x::before {
    content: "";
    display: block;
    position: absolute;
    background-color: #e6e6e6;
    height: 100%;
    width: calc(100% - 30px);
    left: 15px;
    top: 0;
}
.sidebar .nav.sub-menu .nav-item {
    position: relative;
}
.table100 .ps__rail-x .ps__thumb-x {
    height: 100%;
    bottom: 0;
    background-color: transparent;
    opacity: 1 !important;
}
.table100 .ps__rail-x .ps__thumb-x::before {
    content: "";
    display: block;
    position: absolute;
    background-color: #b3b3b3;
    height: 100%;
    width: calc(100% - 30px);
    top: 0;
    left: 15px;
}
.limiter {
    width: 100%;
    margin: 0 auto;
    background: #fa71cd;
    background: -webkit-linear-gradient(bottom, #c471f5, #fa71cd);
    background: -o-linear-gradient(bottom, #c471f5, #fa71cd);
    background: -moz-linear-gradient(bottom, #c471f5, #fa71cd);
    background: linear-gradient(bottom, #c471f5, #fa71cd);
}
.container-table100 {
    max-width: 1366px;
    margin: 0 auto;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;
    /* padding: 33px 100px; */
}
.wrap-table100 {
    width: 100%;
}
.table100 {
    background-color: #fff;
}
table {
    width: 100%;
}
th,
td {
    font-weight: unset;
    padding-right: 10px;
}
.column1 {
    width: 100%;
    padding-left: 40px;
    /* text-align: center; */
}
.column2 {
    width: 200px;

    text-align: center;
}
.column3 {
    width: 150px;
    text-align: center;
}
.column4 {
    width: 150px;
    text-align: center;
}
.column5 {
    width: 235px;
}
.column6 {
    width: 170px;
}
.column7 {
    width: 330px;
}
.column8 {
    width: 305px;
}
.table100 th {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}
.table100 td {
    padding-top: 16px;
    padding-bottom: 16px;
}
.table100 {
    width: 100%;
    position: relative;
}
.table100-firstcol {
    background-color: #fff;
    position: absolute;
    z-index: 1000;
    width: 350px;
    top: 0;
    left: 0;
}
.table100-firstcol table {
    background-color: #fff;
}
.wrap-table100-nextcols {
    width: 100%;
    overflow: auto;
    padding-left: 350px;
    padding-bottom: 28px;
}
.table100-nextcols table {
    table-layout: fixed;
}
.shadow-table100-firstcol {
    box-shadow: 8px 0 10px 0 rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 8px 0 10px 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 8px 0 10px 0 rgba(0, 0, 0, 0.05);
    -o-box-shadow: 8px 0 10px 0 rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 8px 0 10px 0 rgba(0, 0, 0, 0.05);
}
.table100-firstcol table {
    background-color: transparent;
}
.table100.ver1 th {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #fff;
    line-height: 1.4;
    text-transform: uppercase;
    background: #27367f;
    font-weight: 500;
}
.table100.ver1 td {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    line-height: 1.4;
    font-weight: 300;
}
.table100.ver1 .table100-firstcol td {
    color: #000;
}
.table100.ver1 .table100-nextcols td {
    color: #000;
}
.table100.ver1 tr {
    border-bottom: 1px solid #f2f2f2;
}

.member-title,
.member-title-wrap i {
    font-size: 20px;
    /* color: #1f3bb3; */
    font-weight: bold;
}

.switch {
    --switch-width: 30px;
    --switch-height: 14px;
    --switch-bg: rgb(131, 131, 131);
    --switch-checked-bg: rgb(0, 218, 80);
    --switch-offset: calc((var(--switch-height) - var(--circle-diameter)) / 2);
    --switch-transition: all 0.2s cubic-bezier(0.27, 0.2, 0.25, 1.51);
    --circle-diameter: 10px;
    --circle-bg: #fff;
    --circle-shadow: 1px 1px 2px rgba(146, 146, 146, 0.45);
    --circle-checked-shadow: -1px 1px 2px rgba(163, 163, 163, 0.45);
    --circle-transition: var(--switch-transition);
    --icon-transition: all 0.2s cubic-bezier(0.27, 0.2, 0.25, 1.51);
    --icon-cross-color: var(--switch-bg);
    --icon-cross-size: 4px;
    --icon-checkmark-color: var(--switch-checked-bg);
    --icon-checkmark-size: 10px;
    --effect-width: calc(var(--circle-diameter) / 2);
    --effect-height: calc(var(--effect-width) / 2 - 1px);
    --effect-bg: var(--circle-bg);
    --effect-border-radius: 1px;
    --effect-transition: all 0.2s ease-in-out;
}

.switch input {
    display: none;
}

.switch {
    display: inline-block;
}

.switch svg {
    -webkit-transition: var(--icon-transition);
    -o-transition: var(--icon-transition);
    transition: var(--icon-transition);
    position: absolute;
    height: auto;
}

.switch .checkmark {
    width: var(--icon-checkmark-size);
    color: var(--icon-checkmark-color);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.switch .cross {
    width: var(--icon-cross-size);
    color: var(--icon-cross-color);
}

.slider {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: var(--switch-width);
    height: var(--switch-height);
    background: var(--switch-bg);
    border-radius: 999px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    -webkit-transition: var(--switch-transition);
    -o-transition: var(--switch-transition);
    transition: var(--switch-transition);
    cursor: pointer;
}

.circle {
    width: var(--circle-diameter);
    height: var(--circle-diameter);
    background: var(--circle-bg);
    border-radius: inherit;
    -webkit-box-shadow: var(--circle-shadow);
    box-shadow: var(--circle-shadow);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: var(--circle-transition);
    -o-transition: var(--circle-transition);
    transition: var(--circle-transition);
    z-index: 1;
    position: absolute;
    left: var(--switch-offset);
}

.slider::before {
    content: "";
    position: absolute;
    width: var(--effect-width);
    height: var(--effect-height);
    left: calc(var(--switch-offset) + (var(--effect-width) / 2));
    background: var(--effect-bg);
    border-radius: var(--effect-border-radius);
    -webkit-transition: var(--effect-transition);
    -o-transition: var(--effect-transition);
    transition: var(--effect-transition);
}

/* actions */

.switch.active .slider {
    background: var(--switch-checked-bg);
}

.switch.active .slider .checkmark {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.switch.active .slider .cross {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.switch.active .slider::before {
    left: calc(
        100% - var(--effect-width) - (var(--effect-width) / 2) -
            var(--switch-offset)
    );
}

.switch.active .slider .circle {
    left: calc(100% - var(--circle-diameter) - var(--switch-offset));
    -webkit-box-shadow: var(--circle-checked-shadow);
    box-shadow: var(--circle-checked-shadow);
}

.member-name {
    text-decoration: none;
    color: #000;
    transition: 0.3s ease;
    font-weight: 600;
}

.member-name:hover {
    color: #0b2bcf;
}

.success {
    width: 320px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    background: #edfbd8;
    border-radius: 8px;
    border: 1px solid #84d65a;
    box-shadow: 0px 0px 5px -3px #111;
    transition: 0.5s ease;
    position: fixed;
    right: -100%;
    opacity: 0;
}

.success.active {
    right: 0%;
    opacity: 1;
}

.success__icon {
    width: 20px;
    height: 20px;
    transform: translateY(-2px);
    margin-right: 8px;
}

.success__icon path {
    fill: #84d65a;
}

.success__title {
    font-weight: 500;
    font-size: 14px;
    color: #2b641e;
}

.success__close {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: auto;
}

.success__close path {
    fill: #2b641e;
}

.table td {
    line-height: 1.5;
}

#customers_table .name-tag {
    white-space: normal;
}

#customers_table thead th {
    line-height: 1.5;
}
